html {
    margin: 10;
    padding: 100;
}
body {
    font-family: 'Florence', cursive;
    font-size: 13pt;
    background-color:white;
    padding: 0px;
    margin: 0;
    text-align:justify;
}
.left {
    float: left;
    width: 350px;
    margin-right: 20px;
}

.right {
    float: right;
    width: 350px;
    margin-left: 20px;
}
